<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirection</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="quant_field.css") }}">
    <meta http-equiv="refresh" content="4; URL={{ url }}">
</head>
<body>
<h1>You are beeing redirected to the IBM Quantum website to view your results...</h1>
<div class="BottomBox">
    <a href="/impressum/" style="color: black">
    <p>Impressum</p>
    </a>
    <a href="https://www.digitalocean.com/?refcode=d7a77ec80acf&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
</div>
</body>
</html>